body {
  /* background-image: url("https://i.ibb.co/TmxNL1c/moods-color-palettes-01.jpg"); */
  /* background-image: url("https://i.ibb.co/zR0nB9C/grass-orange.jpg"); */
  /* background-image: url("https://i.ibb.co/jM4Lbmy/grass-orange3-01.jpg"); */
  /* background-image: url("https://i.ibb.co/WsRKxYt/black-sands-2.jpg"); */
  background-size: cover;
  font-family: 'EB Garamond', serif;
  background-color: black;
}

#shopping-container .header-div {
  top: 13%;
  left: 42%;
  width: 200px;
  height: 80px;
  color: white;
  position: absolute;
  text-align: center;
  background-color: #8a3324;
  box-shadow: -2px 2px #626262;
  margin: -25px 0 0 -31px;
    /* padding: top right bottom left; */
    /* padding: ; */
  border-radius: 2px;
}

#shopping-container .header-div h1 {
  position: relative;
  font-size: 60px;
  margin: auto;
  line-height: 75px;
  vertical-align: middle;
  border-radius: 2px;
  justify-self: center;
}
/* --------------------shopping bag - cart tally---------- */

.shopping-cart-counter {
  display: inline-block;
  position: relative;
    /* background: #723636; */
  padding: 20px;
  right: 0px;
  cursor: pointer;
}
  
  .shopping-cart-image {
    width: 55px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* background: #D58E32; */
    position: relative;
    background-color: #181818;
    box-shadow: -2px -2px #626262;
  }
  
  i {
    margin-right: 5px;
    color: black;
  }
  
  .cart-counter {
    padding: 0 4px;
    height: 37px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: absolute;
    top: 60%;
    left: 39%;
    transform: translate(0%, -50%);
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    
  }

/* ----------------ITEM CARD CONTAINER------------------------- */
#item-card-container {
  position: relative;
    margin: 7rem 2rem;
}

#item-card-container .card {
  /* font-size: 12px; */
  position: relative;
  font-size: 2vw;
  color: whitesmoke;
  text-align: center;
  border: #8a3324 solid 3px;
  border-radius: 5px;
  padding: 1rem;
  width: 260px;
  height: 450px;
  display: inline-grid;
  margin: 2rem 2rem;
  background: #333333;
    /* whitesmoke: #F5F5F5 */
  box-shadow: -6px 5px #626262;
    /* overflow: hidden;        doesn't work */
  overflow: hidden;
  }

#item-card-container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(80px at 5% 90%);
  transition: .5s ease-in-out;
}

#item-card-container .card:hover:before {
  clip-path: circle(160px at 5% 90%);
}
  
#item-card-container .card .item-image-container .item-image {
  position: absolute;
  /* justify-self: center; */
  transform: translateY(-20%);
  z-index: 10000;
  height: 20rem;
  width: 100%;
  left: 0%;
    /* border-radius: 2px; */
    /* transition: 0.5s; */
  }

#item-card-container .card .content-div {
  position: absolute;
  bottom: 23%;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

#item-card-container .card .content-div h2 {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: whitesmoke;
}

#item-card-container .card .content-div p {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  margin-right: 6px;
  margin-left: 100px;
  letter-spacing: 1px;
  color: #626262;
}

#item-card-container .card .add-item-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  left: 0;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

  #item-card-container .card .add-item-button .add-to-cart {
    position: relative;
    background-color: #8a3324;
    border: none;
    border-radius: 2px;
    height: 2rem;
    /* width: max-content; */
    color: whitesmoke;
    font-size: 12px;
    font-family: 'EB Garamond', serif;
    /* justify-self: center; */
    outline: black;
    margin-right: 150px;
    /* margin-bottom: -50px; */
    cursor: pointer;
  }

  #item-card-container .card .add-item-button button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
  /* -------------------CART CONTAINER---------------------------- */
  
    #cart-container {
        display: none;
        position:absolute;
        top:13%;
        left:30%;
        text-align:center;
        margin: -25px 0 0 -31px;
        align-items: center;
        
    }

    #cart-container .cart-header-div {
      position: absolute;
      top: 4%;
      left: 16%;
      width: 200px;
      height: 80px;
      color: white;
      text-align: center;
      background-color: #8a3324;
      margin: -25px 0 0 -31px;
        /* padding: top right bottom left; */
        /* padding: ; */
      border-radius: 2px;
      box-shadow: -2px 2px #626262;
    }
    
    #cart-container .cart-header-div h1 {
      position: relative;
      font-size: 60px;
      margin: auto;
      line-height: 75px;
      vertical-align: middle;
      border-radius: 2px;
      justify-self: center;
      
    }
    
  /* ----------shopping cart---------- */
  #cart-container .cart-card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    
  } 
  
  /* div#container.cart-card-container {
    height: 100%;
    width: 100%;

  } */

  .cart-card {
    font-size: 12px;
    text-align: center;
    border: #8a3324 solid 5px;
    border-radius: 10px;
    padding: 1rem;
    width: 25rem;
    height: 30rem;
    display: inline-grid;
    margin: 8rem 40rem 2rem 2rem;
    background: whitesmoke;
    box-shadow: -6px 5px #626262;
  }

  .cart-card h1 {
      font-size: 24px
  }

/* remove item button */
  #cart-container .cart-card-container .cart-card .remove-item {
    position: relative;
    background-color: #8a3324;
    border: none;
    border-radius: 2px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 12px;
    justify-self: center;
    outline: black;
    cursor: pointer;
  }
  .td-name {
    font-size: 12px;
    position: relative;
    left: -10%;
  }

  .td-count {
    font-size: 14px;
    position: relative;
    left: -14%;
  }

  .td-price {
    font-size: 14px;
    position: relative;
    left: -3%;
  }

/* return to shop button */

  #cart-container .shop-return .return-to-shop {
    position: relative;
    background-color: #8a3324;
    border: none;
    border-radius: 2px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    left: -27%;
    outline: black;
    cursor: pointer;
    margin-bottom: 6rem;
  }

    /* ------------------------- */

    .card-stats {
      position: relative;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #333333;
      background-size: cover;
      font-size: 18px;
      color: whitesmoke;
      margin-bottom: -4%;
      margin-left: -4%;
      width: 108%;
      
      }
      
      /* .card-stats .stat {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column  !important;
      // color: white  !important;
      padding:10px  !important;
      }
      
      .card-stats .type{
      font-size: 11px !important;
      font-weight: 300  !important;
      text-transform: uppercase !important;
      }
       */