body {
  /* background-image: url("https://i.ibb.co/TmxNL1c/moods-color-palettes-01.jpg"); */
  /* background-image: url("https://i.ibb.co/zR0nB9C/grass-orange.jpg"); */
  /* background-image: url("https://i.ibb.co/jM4Lbmy/grass-orange3-01.jpg"); */
  /* background-image: url("https://i.ibb.co/WsRKxYt/black-sands-2.jpg"); */
  background-size: cover;
  font-family: 'EB Garamond', serif;
  background-color: black;
}
#shopping-container {
  display: flex;
  flex-direction: column;

}

#shopping-container .header-div {
  top: 13%;
  left: 42%;
  width: 200px;
  height: 80px;
  color: white;
  position: absolute;
  text-align: center;
  background-color: #8a3324;
  box-shadow: -2px 2px #626262;
  margin: -25px 0 2em -31px;
    /* padding: top right bottom left; */
    /* padding: ; */
  border-radius: 2px;
}

#shopping-container .header-div h1 {
  position: relative;
  font-size: 60px;
  margin: auto;
  line-height: 75px;
  vertical-align: middle;
  border-radius: 2px;
  justify-self: center;
}
/* --------------------shopping bag - cart tally---------- */

.shopping-cart-counter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 3em;
  height: auto;
  padding: 20px;
  right: 0px;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
}

.cart-items {
  z-index: 7;
}
  
  .shopping-cart-image {
     /* the little black bag top left */
    width: 3em;
    height: 3em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* background: #D58E32; */
    /* position: relative; */
    background-color: #181818;
    box-shadow: -2px -2px #626262;
  }
  
  i {
    margin-right: 5px;
    color: black;
  }
  
  .cart-counter {
    padding: 0 4px;
    /* height: 37px; */
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: absolute;
    top: 4em;
    left: 39%;
    transform: translate(0%, -50%);
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    
  }

/* ----------------ITEM CARD CONTAINER------------------------- */
#item-card-container {
  /* position: relative; */
  margin: 10em 3.5em;
  width: 90%;
  /* background-color: red; */
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 1rem; 
  
}

#item-card-container .card {
  /* font-size: 12px; */
  position: relative;
  font-size: 2vw;
  color: whitesmoke;
  text-align: center;
  border: #8a3324 solid 3px;
  border-radius: .3em;
  padding: 1rem;
  width: 9em;
  max-width: 9em;
  min-width: 9em;
  height: 15em;
  display: inline-grid;
  margin: 2rem 2rem;
  background: #333333;
    /* whitesmoke: #F5F5F5 */
  box-shadow: -6px 5px #626262;
    /* overflow: hidden;        doesn't work */
  overflow: hidden;
 

}

#item-card-container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(80px at 5% 90%);
  transition: .5s ease-in-out;
}

#item-card-container .card:hover:before {
  clip-path: circle(160px at 5% 90%);
}
  
.item-image {
  position: absolute;
  transform: translateY(-20%);
 
  height: 65%;
  width: 100%;
  left: 0%;
  z-index: 100;
  }

.content-div {
  position: absolute;
  bottom: 23%;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.content-div h2 {
  position: relative;
  font-weight: 600;
  font-size: .75em;
  letter-spacing: .05em;
  color: whitesmoke;
  /* z-index: 102; */
}



#item-card-container .card .content-div p {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  margin-right: 6px;
  margin-left: 100px;
  letter-spacing: 1px;
  color: #626262;
}

#item-card-container .card .add-item-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  left: 0;
  text-align: center;
  transition: 1s;
  z-index: 101;
}

  #item-card-container .card .add-item-button .add-to-cart {
    position: relative;
    background-color: #8a3324;
    border: none;
    border-radius: 2px;
    height: 2rem;
    /* width: max-content; */
    color: whitesmoke;
    font-size: 12px;
    font-family: 'EB Garamond', serif;
    /* justify-self: center; */
    outline: black;
    margin-right: 150px;
    /* margin-bottom: -50px; */
    cursor: pointer;
  }

  #item-card-container .card .add-item-button button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
  /* -------------------CART CONTAINER---------------------------- */
  
    #cart-container {
        display: none;
        /* position:absolute;
        top:13%;
        left:30%;
        margin: -25px 0 0 -31px; */
        align-items: center;
        
        text-align:center;
        /* padding-bottom: 5em; */
    }

    #cart-container .cart-header-div {
      /* position: absolute; */
      /* top: 4%;
      left: 16%; */
      width: 20em;
      height: 5em;
      color: white;
      text-align: center;
      background-color: #8a3324;
      /* margin: -25px 0 0 -31px; */
        /* padding: top right bottom left; */
        /* padding: ; */
      border-radius: 2px;
      box-shadow: -2px 2px #626262;
      margin-top: 5em;
      margin: 4em auto;
    }
    
    #cart-container .cart-header-div h1 {
      position: relative;
      font-size: 4em;
      margin: auto;
      /* line-height: 75px; */
      vertical-align: middle;
      border-radius: 2px;
      justify-self: center;
      
    }
    
  /* ----------shopping cart---------- */
  #cart-container .cart-card-container {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
  } 
  
  /* div#container.cart-card-container {
    height: 100%;
    width: 100%;

  } */

  .cart-card {
    font-size: 12px;
    text-align: center;
    border: #8a3324 solid .5em;
    border-radius: .75em;
    padding-top: 2em;
    width: 30rem;
    height: 35rem;
    display: inline-grid;
    /* margin: 8em 40em 2em 2em; */
    margin-top: 3em;
    margin-bottom: 1em;
    background: whitesmoke;
    box-shadow: -6px 5px #626262;
    overflow: hidden;
    z-index: 1;
  }
/* ---------- */
.cart-card:before {
    content: '';
    position: absolute;
    
    /* left: -3em;  */
    width: 100%;
    height: 100%;
    background: rgba(224, 219, 219, 0.377);
    clip-path: circle(8em at 5% 65%);
    transition: .5s ease-in-out;
    /* z-index: 200; */
    overflow: hidden;
    margin: -15em 0;
  }
  
  .cart-card:hover:before {
    clip-path: circle(20em at 13% 60%);
    /* z-index: 201; */
  }

  #cart-total-element {
    position: relative;
    /* z-index: 500; */
  }

  .cart-stats {
    z-index: 199;
  }

  #item-table tbody {
    z-index: 705;
  }
/* ---------- */
  .cart-card h1 {
      font-size: 24px
  }

/* remove item button */
  #cart-container .cart-card-container .cart-card .remove-item {
    position: relative;
    background-color: #8a3324;
    border: none;
    border-radius: 2px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 1em;
    justify-self: center;
    outline: black;
    cursor: pointer;
  }
  .td-name {
    font-size: 12px;
    position: relative;
    left: -10%;
    
  }

  .td-count {
    font-size: 14px;
    position: relative;
    left: -14%;
  }

  .td-price {
    font-size: 14px;
    position: relative;
    left: -3%;
  }

/* return to shop button */

.shop-return {
  /* display: flex; */
  
}

  #cart-container .shop-return .return-to-shop {
    position: relative;
    background-color: #181818;
    box-shadow: -2px -2px #626262;
    border: none;
    border-radius: 2px;
    height: 4rem;
    width: 5em;
    /* width: max-content; */
    color: whitesmoke;
    font-size: 1em;
    font-family: 'EB Garamond', serif;
    /* outline: black; */
    cursor: pointer;
    
    /* margin-bottom: 3rem; */
    float: left;
    margin-top: -11em;
    margin-left: .75em;
  }

    /* ------------------------- */

    .card-stats {
      position: relative;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #333333;
      background-size: cover;
      font-size: 24px;
      color: whitesmoke;
      margin-bottom: -4%;
      margin-left: -4%;
      width: 108%;
      z-index: 700;
      }
      
      /* .card-stats .stat {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column  !important;
      // color: white  !important;
      padding:10px  !important;
      }
      
      .card-stats .type{
      font-size: 11px !important;
      font-weight: 300  !important;
      text-transform: uppercase !important;
      }
       */

.preload {
  display: flex;
  justify-content: center;
}

.emoji {

  margin: 0 auto;
  margin-top: 25%;
  font-size: 7em;
}